<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Coach name</th>
      <th>Delegate</th>
      <th>Captain</th>
      <th>Uniform color</th>
      <th>Goals against</th>
      <th>Goals in favor</th>
      <th>Goals difference</th>
      <th>Wins</th>
      <th>Loses</th>
      <th>Draws</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.coach_name %></td>
        <td><%= team.delegate %></td>
        <td><%= team.captain %></td>
        <td><%= team.uniform_color %></td>
        <td><%= team.goals_against %></td>
        <td><%= team.goals_in_favor %></td>
        <td><%= team.goals_difference %></td>
        <td><%= team.wins %></td>
        <td><%= team.loses %></td>
        <td><%= team.draws %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
