<p id="notice"><%= notice %></p>

<p>
  <strong>Match:</strong>
  <%= @match_team.match %>
</p>

<p>
  <strong>Team:</strong>
  <%= @match_team.team %>
</p>

<%= link_to 'Edit', edit_match_team_path(@match_team) %> |
<%= link_to 'Back', match_teams_path %>
