<p id="notice"><%= notice %></p>

<p>
  <strong>Position in group:</strong>
  <%= @team_group.position_in_group %>
</p>

<p>
  <strong>Position in group:</strong>
  <%= @team_group.position_in_group %>
</p>

<p>
  <strong>Group draw:</strong>
  <%= @team_group.group_draw %>
</p>

<p>
  <strong>Group wins:</strong>
  <%= @team_group.group_wins %>
</p>

<p>
  <strong>Group loses:</strong>
  <%= @team_group.group_loses %>
</p>

<p>
  <strong>Group:</strong>
  <%= @team_group.group %>
</p>

<p>
  <strong>Team:</strong>
  <%= @team_group.team %>
</p>

<%= link_to 'Edit', edit_team_group_path(@team_group) %> |
<%= link_to 'Back', team_groups_path %>
