<p id="notice"><%= notice %></p>

<p>
  <strong>Day of week:</strong>
  <%= @availavility.day_of_week %>
</p>

<p>
  <strong>Begin hour:</strong>
  <%= @availavility.begin_hour %>
</p>

<p>
  <strong>End hour:</strong>
  <%= @availavility.end_hour %>
</p>

<p>
  <strong>Team:</strong>
  <%= @availavility.team %>
</p>

<%= link_to 'Edit', edit_availavility_path(@availavility) %> |
<%= link_to 'Back', availavilities_path %>
