<p id="notice"><%= notice %></p>

<p>
  <strong>Games played:</strong>
  <%= @team_player.games_played %>
</p>

<p>
  <strong>Points marked:</strong>
  <%= @team_player.points_marked %>
</p>

<p>
  <strong>Assist:</strong>
  <%= @team_player.assist %>
</p>

<p>
  <strong>Yellow cards:</strong>
  <%= @team_player.yellow_cards %>
</p>

<p>
  <strong>Red cards:</strong>
  <%= @team_player.red_cards %>
</p>

<p>
  <strong>White cards:</strong>
  <%= @team_player.white_cards %>
</p>

<p>
  <strong>Player:</strong>
  <%= @team_player.player %>
</p>

<p>
  <strong>Team:</strong>
  <%= @team_player.team %>
</p>

<%= link_to 'Edit', edit_team_player_path(@team_player) %> |
<%= link_to 'Back', team_players_path %>
