<p id="notice"><%= notice %></p>

<p>
  <strong>Outcome:</strong>
  <%= @team_match.outcome %>
</p>

<p>
  <strong>Points gained:</strong>
  <%= @team_match.points_gained %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @team_match.goals %>
</p>

<p>
  <strong>Match:</strong>
  <%= @team_match.match %>
</p>

<p>
  <strong>Team:</strong>
  <%= @team_match.team %>
</p>

<%= link_to 'Edit', edit_team_match_path(@team_match) %> |
<%= link_to 'Back', team_matches_path %>
