<%= form_for(match) do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :result %>
    <%= f.number_field :result %>
  </div>

  <div class="field">
    <%= f.label :id_team_winner %>
    <%= f.number_field :id_team_winner %>
  </div>

  <div class="field">
    <%= f.label :group_id %>
    <%= f.text_field :group_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
