<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  	<table>
   	 <thead>
    	<tr>
      		<th> <%= link_to "Inicio (jugadores)", root_path %> </th>
      		<th><li> <%= link_to 'Jugadores', players_path %></th> </li>
      		<th><li> <%= link_to 'Torneos', tournaments_path %></th> </li>
      		<th><li> <%= link_to 'Partidos', matches_path %></th> </li>
    	</tr>
  	 </thead>
  	</table>
  </header>
    <%= yield %>
  </body>
</html>
